/* Fuentes */
.font-fredericka {
  font-family: "Fredericka the Great", cursive;
}

/* Effect Cards */
.card:hover {
  box-shadow: 0 0 0.5em #fefe22, 0 0 0.5em #ffef00, 0 0 0.5em #eee600;
  transform: translateY(-10px);
}

/* Effect Text */
.animate {
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em snow, 0 0 0.3em #f8f8ff;
}

/* Effect links navbar */
.effect {
  color: #212121;
  position: relative;
  text-decoration: none;
}

.effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #212121;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.effect:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .effect::before {
    width: 40%;
    left: 30%;
  }

  .effect3 {
    margin-bottom: 20px;
  }
}
